HELP.md
.gradle
gradle/
gradlew
gradlew.bat
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/main/generated/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
idea.log
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
.class
src/main/generated

bin/

# 설정 및 Config 추적 대상에서 제외할 파일
**/src/main/resources/application-local.yml
**/src/main/resources/application-aws.yml